<!DOCTYPE html>
<html>
  <head>
    <title>SpotiFly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.logo = "<%= image_url('Spotifly-horizontal.png') %>"
    </script>
    <script type="text/javascript">
      window.avatarIcon = "<%= image_url('Spotifly-avatar-icon.png') %>"
    </script>
     <script type="text/javascript">
      window.whiteLogo = "<%= image_url('Spotifly-Logo-White.png') %>"
    </script>
     <script type="text/javascript">
      window.homeIcon = "<%= image_url('White-Home-Icon.png') %>"
    </script>
     <script type="text/javascript">
      window.searchIcon = "<%= image_url('White-Search-Icon.png') %>"
    </script>
     <script type="text/javascript">
      window.libraryIcon = "<%= image_url('White-Library-Icon.png') %>"
    </script>
     <script type="text/javascript">
      window.plusIcon = "<%= image_url('White-Plus-Icon.png') %>"
    </script>
     <script type="text/javascript">
      window.playlistLogo = "<%= image_url('Playlist-Logo-Placeholder.png') %>"
    </script>
    <script type="text/javascript">
      window.SongIcon = "<%= image_url('White-Song-Icon.png') %>"
    </script>
    <script type="text/javascript">
      window.Moth = "<%= image_url('moth-into-flame.jpg') %>"
    </script>
    <script type="text/javascript">
      window.Buzz = "<%= image_url('the-buzz.jpg') %>"
    </script>
    <script type="text/javascript">
      window.XO = "<%= image_url('XO-skeleton.jpg') %>"
    </script>
    <script type="text/javascript">
      window.Dung = "<%= image_url('Dung-Beetles.jpg') %>"
    </script>
    <script type="text/javascript">
      window.Daddy = "<%= image_url('Daddy-Songlegs.jpg') %>"
    </script>
    <script type="text/javascript">
      const imgContent = document.querySelectorAll('.img-content-hover');
      function showImgContent(e) {
        for(var i = 0; i < imgContent.length; i++) {
        imgContent[i].style.left = e.pageX + 'px';
        imgContent[i].style.top = e.pageY + 'px';
        }
      };
      document.addEventListener('mousemove', showImgContent);
   </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
