<!DOCTYPE html>
<html>
  <head>
    <title>SpotiFly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.logo = "<%= image_url('Spotifly-horizontal.png') %>"
    </script>
    <script type="text/javascript">
      window.avatarIcon = "<%= image_url('Spotifly-avatar-icon.png') %>"
    </script>
     <script type="text/javascript">
      window.whiteLogo = "<%= image_url('Spotifly-Logo-White.png') %>"
    </script>
     <script type="text/javascript">
      window.homeIcon = "<%= image_url('White-Home-Icon.png') %>"
    </script>
     <script type="text/javascript">
      window.searchIcon = "<%= image_url('White-Search-Icon.png') %>"
    </script>
     <script type="text/javascript">
      window.libraryIcon = "<%= image_url('White-Library-Icon.png') %>"
    </script>
     <script type="text/javascript">
      window.plusIcon = "<%= image_url('White-Plus-Icon.png') %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
